# C extensions
*.so

# Distribution / packaging 
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.egg-info/
.dist-info/
build/
dist/



# Scrapy stuff:
.scrapy



# --- Jupyter / VSCode / OS ---
.ipynb_checkpoints/
.notebook_cache/
notebooks/.ipynb_checkpoints/
.vscode/
.DS_Store
Thumbs.db



# Environments / Python / Virtual entornos
.env
.envrc
.venv
.venv/
.uv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Dataframes / datasets
data/*.csv
data/processed/*.csv
!data/life_expectancy_data.csv
!data/processed/features_scaled.csv
!data/processed/features_no_scaling.csv
!data/processed/target_y.csv




#models/*.pkl
*.joblib


# -------- Src --------
src/**/__pycache__/

# --- Logs / temporales ---
*.log
*.tmp
*.cache/

# --- Gráficos / imágenes ---
*.png
*.jpg
*.jpeg


