# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.egg-info/
.dist-info/
build/
dist/






# Scrapy stuff:
.scrapy



# --- Jupyter / VSCode / OS ---
.ipynb_checkpoints/
.notebook_cache/
notebooks/.ipynb_checkpoints/
.vscode/
.DS_Store
Thumbs.db



# Environments / Python / Virtual entornos
.env
.envrc
.venv
.venv/
.uv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Dataframes / datasets
data/*
data/processed/*
!data/life_expectancy_data.csv
models/*.pkl


# -------- Src --------
src/**/__pycache__/

# --- Logs / temporales ---
*.log
*.tmp
*.cache/

# --- Gráficos / imágenes ---
*.png
*.jpg
*.jpeg


